fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic-settings==2.10.1
SQLAlchemy==2.0.41
asyncpg==0.30.0
alembic==1.16.4
openai==2.13.0
argon2-cffi==23.1.0
email-validator==2.2.0
passlib[argon2]
pgvector
tiktoken
PyMuPDF
python-multipart
